name: GitHub-Profile-3D-Contrib

on:
  schedule: # 하루 한 번 (18:00 UTC = 한국 새벽 3시)
    - cron: "0 18 * * *"
  workflow_dispatch: # 수동 실행

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib

    steps:
      - uses: actions/checkout@v5

      - uses: yoshi389111/github-profile-3d-contrib@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          if git commit -m "generated 3d profile"; then
            git push
          fi
